.container {
  max-width: 152.6rem;
  margin: 0 auto;
  background-color: var(--first-color);
  /* padding: 9rem 0 2rem; */
  min-height: 100vh;
  display: grid;
}

.mainWrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(221,235,241,.3);
  padding: 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  max-width: 121.6rem;    
  background-color: rgb(255 255 255/1);
  border-radius: 1.5rem;
  border: 1px solid #E5E7EB;
  padding: 5rem;

}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.imagePreview {
  position: relative !important;
  width: 100% !important;
  max-height: 22rem;
  object-fit: cover;
}

.mainHeaderProfileImageContainer {
  max-width: 4rem;

}

.mainHeaderProfileImageContainer img {
  width: 100%;
  border-radius: 999px;
  position: relative !important;
}

.mainHeaderProfileNameContainer {
  font-weight: 600;
}


.ContentPost {
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  padding: 2rem;
}

.ContentPost p span {
  font-weight: 700;
}

.ContentPost h2 {
  font-size: 2.875rem;
}

.ContentPost h3 {
  font-size: 2rem;
}

.ContentPost h2, .ContentPost h3 {
  margin-bottom: 1rem;
}

.ContentPost p, .ContentPost ul, .ContentPost ol {
  margin-bottom: 3rem;
  text-align: justify;
}

.ContentPost .themesParagraph {
  margin-bottom: 1rem;
}

.ContentPost .themesParagraphLast {
  margin-bottom: 3rem;
}

.ContentPost ul, .ContentPost ol {
  margin-left: 2rem;
}
.parallax {

   
  /* Defina uma altura para a visão que o usuário terá da imagem */
  min-height: 200px;
   
  /* defina o background como fixo e posicione a imagem */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  }

  

  .mainHeaderContentLeft {
      display: flex;
      align-items: center;
  }

  .mainHeaderContentRight {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: rgb(98, 70, 234);
      color: white;
      padding: 1rem;
  }

  .mainHeaderContentRight svg{
      color: red;
  }

  .blockListReference {
      margin-left: 0!important;
  }
  .listReference {
      list-style: none;
  }

  .methodImageContent {
      max-width: 40rem;
      margin: 2rem 0rem;
  }

  .methodImageContent img {
      width: 40rem !important;
      height: auto !important;
      position: relative !important;

  }












  /* Form.module.css */


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input,
.textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input {
  padding: 1rem 1.2rem;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 2px;
  height: 3.5rem;
  color: var(--gray-400);
  width: 98%;
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;

}

.textarea {
  padding: 1rem 1.2rem;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 2px;
  height: 20rem;
  color: var(--gray-400);
  margin-top: 1.5rem;
  font-weight: 400;
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.input:hover, .textarea:hover {
  border: 1px solid var(--purple-mid);
  
}
.input:focus, .textarea:focus {
  outline: 1px solid var(--purple-mid);
  
}
 
.button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.input:disabled,
.textarea:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

/* styles.module.css */

.formContainer {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #333;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.selectContainer {
  margin-bottom: 20px;
}

.selectLabel {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.option {
  color: #333;
}

.topicDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: white;
  background: #3498db;
  padding: 1rem;
  border-radius: 15px;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.topicDiv:first-of-type {
  margin-top: 2rem;
}

.topicDivContainer {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap; /* Adicionado para quebrar a linha quando necessário */
}


.topicText {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.closeButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 999px;
  cursor: pointer;
  margin-left: 1rem;

}

.errorMessageContainer {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.experimentContainer {
  background-color: #f2f2f2;
  padding: 20px;
}

.experimentTitle {
  font-size: 24px;
  color: #333;
}

.stepsLabel {
  font-size: 16px;
  color: #666;
}

.stepsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 2rem;
    border: 2px solid darkgray;
}

.stepsList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stepsList li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.stepsList li.success::before {
  background-color: green;
}

.stepsList li.error::before {
  background-color: red;
}

.hide {
  display: none;
}

/* styles.module.css */

.successDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.successDiv h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.successDiv p {
  font-size: 18px;
  margin-bottom: 20px;
}

.successDiv a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.successDiv a:hover {
  color: #666;
}


.form {
  max-width: 152.6rem;
  margin: 0 auto;
  background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 6px;
    padding: 2rem;
    margin-top: 2rem;
}














.navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navigationButton {
  margin-top: 1rem;
  width: 9.8rem;
  border: 0;
  padding: 1.5rem 2.5rem;
  background-color: var(--white);
  border: 1px solid var(--purple-mid);
  color: var(--purple-mid);
  font-weight: 700;
  transition: all 300ms ease-out;
  cursor: pointer;
  border-radius: 6px;
      font-size: 2rem;
  text-align: center;
}
.stepsOverview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.stepSeparator {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  color: gray;
}

.stepCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.stepCircleActive {
  background-color: var(--purple-mid);
}

.stepCircleActive span {
  color: white;

}

.stepCircleCompleted {
  background-color: green;
}

.stepCircleRemaining {
  background-color: var(--gray-light);
  color: gray;

}
.stepCircleMissing {
  background-color: #e1e1e6;
  
  color: var(--white);
}

.stepCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.stepNumber {
  color: #8d8d99;
    font-weight: bold;
}

.stepLabel {
  color: gray;
}

.stepLabelActive {
  color: black;
  font-weight: bold;
}

.stepLabelCompleted {
  color: black;
  font-weight: bold;
}

.stepLabelMissing {
  color: gray;
    font-weight: bolder;
}




.navigationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

.submitButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}




.messageContainer {
  background-color: lightgreen;
  color: white;
  max-width: 152.6rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;


  display: flex;
  align-items: center;
    justify-content: center;
}

.messageContainer button {
  margin-left: 2rem;
  }

.username {
  font-weight: bold;
}

.button {
  background-color: white;
  color: lightgreen;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.formIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 100vw; */
  padding-bottom: 8rem;
}

.messageIntro {
  margin-bottom: 1rem;
  text-align: center;
}

.inputIntro {
  padding: 1rem 1.2rem;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 2px;
  height: 3.5rem;
  width: 35rem;
  color: var(--gray-400);
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.inputIntro:hover, .textarea:hover {
  border: 1px solid var(--purple-mid);
  
}
.inputIntro:focus, .textarea:focus {
  outline: 1px solid var(--purple-mid);
  
}
 

.buttonIntro {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: #2196F3;
  color: white;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}







/* styles.module.css */

.containerObjective {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2rem;

}

.titleObjective {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 16px;
}

.objectiveObjective {
  margin-bottom: 16px;
}

.labelObjective {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.inputObjective {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.buttonObjective {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  margin-right: 8px;
}

.buttonObjective:last-child {
  margin-right: 0;
}

.buttonObjective:hover {
  background-color: #0056b3;
}






/* styles.module.css */

.containerMaterial {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2rem;

}

.titleMaterial {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 16px;
}

.material {
  margin-bottom: 16px;
}

.labelMaterial {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.inputMaterial {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.buttonMaterial {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  margin-right: 8px;
}

.buttonMaterial:last-child {
  margin-right: 0;
}

.buttonMaterial:hover {
  background-color: #0056b3;
}






/* styles.module.css */

.containerReference {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.titleReference {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 16px;
}

.reference {
  margin-bottom: 16px;
}

.labelReference {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.inputReference {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.buttonReference {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  margin-right: 8px;
}

.buttonReference:last-child {
  margin-right: 0;
}

.buttonReference:hover {
  background-color: #0056b3;
}




/* styles.module.css */

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMethods {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2rem;

}

.titleMethods {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 16px;
}

.labelMethods {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.labelFileUpload {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}

.fileUploadContainer {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
}

.fileUploadText {
  display: block;
  margin-bottom: 4px;
}

.fileUploadInput {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.fileUploadIcon {
  font-size: 4.8rem;
  color: #7c3aed;
  margin-bottom: 1.2rem;
}

.fileUploadInput:hover + .fileUploadIcon {
  /* Estilo de destaque ao passar o mouse sobre o input */
  color: #ffcc00; /* Cor de destaque desejada */
}


.buttonMethods {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  margin-right: 8px;
}

.buttonMethods:last-child {
  margin-right: 0;
}

.buttonMethods:hover {
  background-color: #0056b3;
}



.titleFileInput {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 130%;
  display: flex;
  color: #7a5fec;
}

.titleFileName {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 130%;
  color: #575361;
}

#app {
  width: 100%;
  
  max-width: 45rem;

}

/* styles.module.css */
.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
     /* height: 100vh; */
     background-color: white;
     padding: 2rem;
}

.previewTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.previewImage {
  max-height: 35rem;
    max-width: 35rem;
}
.removeButtonContainer {
  display: flex;
  justify-content: center;
}

.removeButton {
  background-color: #ff4d4f;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 1rem;
}

.removeButton:hover {
  background-color: #ff3333;
}

.removeButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



#upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f3f0ff;
  border: 0.1rem dashed #c1b2fa;
  border-radius: 0.8rem;
  padding: 2.8rem 0 3.2rem 0;
  position: relative;
}

#upload input {
  all: unset;
  opacity: 0;
  inset: 0;
  position: absolute;
}

#upload.dragover {
  background: #ebe6ff;
}

#upload p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: #746e82;
}

/* #upload h1 {
  font-size: 4.8rem;
  color: #7c3aed;
  margin-bottom: 1.2rem;
} */

/* UPLOADS */
#uploads {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.file {
  display: flex;
  align-items: center;
  max-width: 58rem;
  gap: 1.2rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0rem 0.4rem 1.6rem #eae2fd;
  border-radius: 0.8rem;
  padding: 1rem;
}

.description {
  width: 100%;

}

.description span {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 130%;
  color: #857e95;
}

.file-icon {
  width: 4.8rem;
  height: 5.6rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-icon i {
  font-size: 2.4rem;
  margin: 1.6rem 1.2rem;
}

.status {
  color: #ac96e4;
  font-size: 2rem;
}

.uploading {
  background-color: #e9e3f8;
  color: #ac96e4;
  height: 8rem;
  width: 8rem;
  border-radius: 0.4rem;
  display: flex;
    justify-content: center;
    align-items: center;
}

.uploading svg{
  width: 3rem;
  height: 3rem;
  color: mediumseagreen;
}

.uploaded {
  background-color: #daf2d9;
  color: #73b172;
  border-radius: 0.4rem;
}

.error {
  background-color: #f2d9d9;
  color: #e36363;
  border-radius: 0.4rem;
}

.doing {
  width: 100%;
  height: 0.8rem;
  background: #e3e3ed;
  border-radius: 99.9rem;
  position: relative;
  z-index: 1;
}

.progress {
  display: flex;
  margin-top: 1rem;
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progressBarInner {
  height: 100%;
  border-radius: 5px;
  background-color: #73b172;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.25s ease-in-out;
}




#done {
  color: #4e884d;
}

#error {
  color: #e36363;
}

@media (max-width: 40rem) {
  #app {
    width: 90%;
  }
}

/* loading.module.css */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}
.termsContainer {
  margin-top: 16px;
}

.termsText {
  margin-bottom: 8px;
}

.checkboxLabel {
  display: inline-flex;
  align-items: center;
}

.checkbox {
  display: none;
}

.checkboxCustom {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 8px;
}

.checkbox:checked + .checkboxCustom {
  background-color: #007bff;
}

.checkbox:checked + .checkboxCustom::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
  margin: 3px;
}
